@model IEnumerable<MvcLibPavel.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>Manage Books</h3>

    <p>
        @Html.ActionLink("Add Book", "Create", "Books", null ,new { @class = "btn btn-secondary" })
    </p>
    <hr>
    <br>
    <table id="tblBooks" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id, @class = "btn btn-info" }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-info" }) 
                @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>
  
@section myDataTable{
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/datatables.min.js"></script>
    <script></script>
    <script>
        $(document).ready( function () {
            var table = $('#tblBooks').DataTable(
                 {
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'excel',
                            exportOptions: { columns: [ 0, 1, 2, 3 ] }
                        },
                        {
                            extend: 'csv',
                            exportOptions: { columns: [ 0, 1, 2, 3 ] }
                        },
                        {
                            extend: 'pdf',
                            exportOptions: { columns: [ 0, 1, 2, 3 ] }
                        }
                    ]
                }
            );

            var data = table.buttons.exportData( {
                columns: ':visible'
            } );
        });
    </script>
}